<h3>{{viewTitle}}</h3>
<form action="/metier" method="post">
    <div class="form-group">
        <label>Nom du travail</label>
        <input type="text" class="form-control" name="jobName" placeholder="Job Name">

        <div class="form-group">
            <label>Numero</label>
            <input type="text" class="form-control" name="codeNumber" placeholder="Code Number">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Envoyer</button>
        </div>
    </div>
</form>